{{ define "main" }}
  <!-- <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      <p>Below you will find pages that utilize the taxonomy term “{{ .Title }}”</p>
    </div>
  </article> -->
  <!-- <div class="mw9 center">    
    <section class="flex-ns flex-wrap justify-around mt4 mh2">
      {{ range .Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{ partial "summary-with-bgimage.html" . }}
        </div>
      {{ end }}
    </section>
  </div> -->

  <section class="flex-ns flex-wrap justify-around mt4 mh2">
    {{ range .Paginator.Pages }}
      <div class="relative w-100 w-30-l mb4 bg-white">
        {{- partial "summary-with-bgimage.html" . -}}
      </div>
    {{ end }}
  </section>
  {{- template "_internal/pagination.html" . -}}

{{ end }}
