/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: 0.875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.bg-blur {
  backdrop-filter: blur(10px);
}

article section figcaption {
  font-style: italic;
  color: #888;
}

p > code {
  background-color: #d8d8d8;
}

cite {
  display: block;
  padding-top: 100px;
  color: #666;
}

.nested-links cite a {
  color: #7882ac;
}

/* front page */
main.fp {
  background-color: #ddd;
}

main.fp section.top,
main.fp section.bottom {
  background-size: cover;

  display: flex;
  flex-flow: column nowrap;

  align-content: center;
  justify-content: center;
  color: white;
}
main.fp section.top {
  background-image: url("/img/bg-top.svg");
  background-position: bottom center;
  padding: 15vh 20px 25vw 20px; /* yes, vw for bottom padding */
  text-align: center;
}

main.fp section.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  grid-gap: 2em;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

main.fp section.features p {
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 755px) {
  main.fp section.features p:nth-child(1) {
    order: 1;
  }
  main.fp section.features p:nth-child(2) {
    order: 2;
  }
  main.fp section.features p:nth-child(3) {
    order: 4;
  }
  main.fp section.features p:nth-child(4) {
    order: 3;
  }
  main.fp section.features p:nth-child(5) {
    order: 5;
  }
  main.fp section.features p:nth-child(6) {
    order: 6;
  }
  main.fp section.features p:nth-child(7) {
    order: 8;
  }
  main.fp section.features p:nth-child(8) {
    order: 7;
  }
}

main.fp section.bottom {
  background-image: url("/img/bg-bottom.svg");
  background-position: top center;
  padding: 25vw 20px 15vh 20px;
}

main.fp .signup {
  max-width: 800px;
  margin: auto;
}

main.fp .signup button {
  display: inline-block;
  background-color: purple;
  border: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 24px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

main.fp .signup button:hover {
  background-color: #9e1d9e;
}

main.fp .signup input[type="email"] {
  font-family: "Roboto Mono";
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 4px 8px;
}

.gdpr a,
footer a {
  color: #7cc2ff;
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 16px;
  padding: 1.5em 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

footer div {
  padding: 1em;
}
